
<h1>All Tasks</h1>
<% @tasks.each do |task|  %>
  <h2> <%= link_to task.title, task_path(task) %></h2>
 <% if task.completed  %>
 <input type="checkbox" checked>
 <% else  %>
 <input type="checkbox">
 <% end %>
<% end %>
<br>
<%= link_to "add new task", tasks_new_path %>
